html, body{
   height: 100%;
}

body > section.content{
	position: absolute; 
	top: 50px; right: 0; bottom: 0; left: 0;
	border: solid 1px red;
}

a{
	cursor: pointer;
}

a.action{
	font-size: .8em;
	display: block;	
}

/* --------- Bootstrap Override --------- */
.nav-tabs{
	li.right{
		float:right;
	}
}
/* --------- /Bootstrap Override --------- */


