/* --------- Variables --------- */
$text-action-link: #2a6496;
/* --------- /Variables --------- */

/* --------- Mixins --------- */
@define-mixin fitparent{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

@define-mixin clearfix{
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}
/* --------- /Mixins --------- */
