<div class="MainView">
	<header>
		<div class="inner">
			<span class="logo">projectMVC</span>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="user">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dx" data-dx="username"></span><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" class="do-logoff">Logoff</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</header>

	
	<section class="MainView-frame">
		<div class="inner">
			<div class="MainView-left"></div>
			<div class="MainView-content"></div>
		</div>
	</section>
</div>