<div class="AdminView">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TaskManager - Admin</a>
		</div>
	</nav>

	<section class="content">
		
	</section>

</div>